body {
    background-color: #000;
    height: 1000px;
}

.main {
    padding: 20px 0 100px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: auto;
}
